<footer class="footer">
    <div class="container py-2">
        <div class="footer__content">
            <div class="footer__content-shop__info">
               <div class="footer__content-shop__info shop__info--img">
                    <img src="{{ settings['footer'].settings.logo_img | asset_url }}" alt="{{settings['footer'].settings.logo_text}}" width="80" height="70">
                    <span>
                        <i>|</i>STORE
                    </span>
               </div>
               <p>
                &copy; {{ "now" | date: "%Y" }}, {{settings['footer'].settings.logo_text}} Operated by <br>
                Studio Plaid. Need help? <br>
                Email <a href="mailto:{{settings['footer'].settings.shop_email}}">{{settings['footer'].settings.shop_email}}</a>
               </p>
            </div>
            <div class="footer__content-nav__content">
                <nav>
                    <ul>
                        <li></li>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        <li></li>
                    </ul>
                </nav>
                <div>
                    
                </div>
            </div>
            <div class="form__contact"></div>
        </div>
    </div>
</footer>